header, footer {
    background-color: black;
    color: white;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin: 10px;
}

body {
    font-family: sans-serif;
    font-size: 16px;
    margin: 0;
    background-color: rgb(30, 30, 30);
}

#Blog_Image{
    width: 220px;
    border-radius: 110px;
}

main {
    padding: 100px;
    text-align:center;
    background-color: rgb(30, 30, 30);
    color: white;
}

#Description{
    /* width: 1000px; */
    text-align: center;
    line-height: 1.5;
    margin-left: 325px;
    margin-right: 325px;
    font-size: 18px;
}

footer{
    margin-bottom: 0px;
    text-align: center;
    padding: 20px;
    position:absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
}